.panel-custom {
    border-style: solid;
    border-width: 1px;
    border-color: #dad6d6;
    margin-bottom: 1.25em;
    padding: 40px;
    background: #dad6d6;
  }
  
  .panel-user {
    border-style: solid;
    border-width: 1px;
    border-color: #2b2b2b;
    margin-bottom: 1.25em;
    padding: 1em;
    background: #fffffb;
  }
  
  /* Style the tab */
  
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      color: #39a5cf;
      &:hover {
        background-color: #ddd;
      }
      &.active {
        background-color: #ccc;
      }
    }
  }
  
  /* Style the buttons that are used to open the tab content */
  
  /* Change background color of buttons on hover */
  
  /* Create an active/current tablink class */
  
  /* Style the tab content */
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  $azulMedico: #43a4d3;
  
  .button {
    &.alert {
      background-color: $azulMedico;
      border-color: $azulMedico;
    }
    &.success {
      background-color: $azulMedico;
      border-color: $azulMedico;
      &:hover {
        background-color: #2d83a5;
      }
    }
  }
  
  .botonBuscador {
    border-color: #2d83a5;
  }

  .tipodeusuario {
    font-size:1em;
  }
  .nombrecompleto{
    font-size:0.9em;
  }
  /*body {
    font-size:calc( 9px + 1vw );
  }*/