<div class="panel-custom" ng-show="usuarios.length == 0">
    <h3 class="subheader">No hay usuarios</h3>
</div>

<!-- <input type="text" ng-model="buscador" class="botonBuscador" placeholder="Buscador de usuarios"/> -->

<div class="large-12 columns panel-user" ng-repeat="usuario in usuarios track by usuario.id">

    
        <p class="tipodeusuario">TIPO DE USUARIO: {{usuario.datosPersonales.TipoDeUsuario}}</p>
        <p class="nombrecompleto">NOMBRE COMPLETO: {{usuario.datosPersonales.Apellido1}} {{usuario.datosPersonales.Apellido2}} , {{usuario.datosPersonales.Nombre}}</p>
        
    <div class="row">
        <div ng-if="usuario.datosPersonales.TipoDeUsuario === 'Paciente'" class="large-4 columns" ><a href="#!/info/{{usuario.id}}" class="button  expand success">Información del Usuario</a></div>
        <div ng-if="usuario.datosPersonales.TipoDeUsuario === 'Profesional'" class="large-4 columns"><a href="#!/infoMed/{{usuario.id}}" class="button  expand success" style="background-color:#2b5975">Información del Usuario</a></div>

        <div ng-if="usuario.datosPersonales.TipoDeUsuario === 'Paciente'" class="large-4 columns"><a href="#!/edit/{{usuario.id}}" class="button  expand warning">Editar</a></div>
        <div ng-if="usuario.datosPersonales.TipoDeUsuario === 'Profesional'" class="large-4 columns"><a href="#!/editMed/{{usuario.id}}" class="button  expand warning" style="background-color:#2b5975">Editar</a></div>
        
        
        <div ng-if="usuario.datosPersonales.TipoDeUsuario === 'Paciente'" class="large-4 columns"><a href="#!/remove/{{usuario.id}}" class="button expand alert">Eliminar</a></div>
        
    </div> 
    
</div>



